<h1><%= owner %>/<%= name %></h1>

<table id="pull-requests" class="table sortable">
  <thead>
    <th>Pull Request</th>
    <th>Author</th>
    <th data-defaultsort="desc">Updated</th>
    <th>Build Status</th>
    <th>JIRA Status</th>
    <th data-defaultsort="disabled"></th>
  </thead>
  <tbody></tbody>
</table>


<a href="#/index">Back</a>
