<h1><%= owner %>/<%= name %></h1>

<table id="pull-requests" class="table">
  <tr>
    <th>Pull Request</th>
    <th>Author</th>
    <th>Updated</th>
    <th>Build Status</th>
    <th></th>
  </tr>
</table>


<a href="#/index">Back</a>
